@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.top_cart {
  height: 400px;
  background-image: url(img/backimg_cart.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heading_big {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: #FFFFFF;
}

.cart_text {
  margin-top: 127px;
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
}

.cart_content {
  display: grid;
  grid-column: span 8;
}

.cart_info {
  display: flex;
  flex-direction: column;
}

.cart_name_box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}

.cart_item {
  border-top: 0.5px solid #CACDD8;
  padding-top: 25px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cart_left {
  display: flex;
  gap: 32px;
  transition: all, 0.3s;
}
.cart_left:hover {
  transform: scale(1.05);
  box-shadow: 8px, 8px, #888888;
}

.cart_info {
  width: 276px;
}

.cart_form {
  background: #F7F6F6;
  border-radius: 20px;
  height: 556px;
  display: grid;
  grid-column: span 4;
}

.input_number {
  width: 71px;
  height: 51px;
  background: #F7F6F6;
  border-radius: 6px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 210%;
  display: flex;
  align-items: center;
  text-align: center;
}

.cart_link_box {
  font-weight: 400;
  font-size: 14px;
  line-height: 210%;
  display: flex;
  gap: 30px;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  color: #000000;
}
.cart_link_box:hover {
  text-decoration: none;
}

.input_number {
  width: 71px;
  height: 51px;
  background: #F7F6F6;
  border-radius: 6px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 210%;
  display: flex;
  align-items: center;
  text-align: center;
}

.cart_button {
  width: 200px;
  height: 37px;
  border: 1px solid #000000;
  border-radius: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #020202;
  transition: all, 0.3s;
}
.cart_button:hover {
  color: #ffffff;
  background-color: #000000;
}

.cart_button_box {
  display: flex;
  gap: 7px;
}

.cart_form {
  padding-top: 42px;
  display: flex;
  flex-direction: column;
  gap: 41px;
}

.form_heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #000000;
  height: 36px;
  text-align: center;
}

.form_cart {
  display: flex;
  flex-direction: column;
  gap: 41px;
}

.form_item {
  border: none;
  border-bottom: 1px solid #CACDD8;
  width: 288px;
  height: 17px;
  background: transparent;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.result {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-top: 32px;
  text-align: center;
  margin-bottom: 18px;
}

.form_button_cart {
  width: 290px;
  margin: auto;
  background-color: transparent;
  animation: pulsate-fwd 0.5s ease-in-out 5 both;
  text-decoration: none;
}

.form_input {
  margin-left: 27px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}/*# sourceMappingURL=_cart.css.map */